*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Helvetica";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #323439;
  background-color: #FFFFFF;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 161rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 4rem;
    width: 100%;
  }
}
.slider-nav--white .slider-nav__arrow-bg path {
  stroke: white;
  fill: white;
}
.slider-nav--white .swiper-button-disabled .slider-nav__arrow-bg path {
  fill: none;
}
.slider-nav--white .swiper-button-disabled .slider-nav__arrow-icon path {
  stroke: white;
}
.slider-nav--white .slider-nav__pagination {
  color: white;
}
.slider-nav--white div.slider-nav__progressbar {
  background-color: rgba(255, 255, 255, 0.4);
}
.slider-nav--white div.slider-nav__progressbar > span {
  background-color: white;
}
.slider-nav .slider-nav__progressbar {
  position: absolute;
  left: 0;
  bottom: 0;
  top: auto;
  right: auto;
  height: 2px;
  background-color: rgba(50, 52, 57, 0.4);
}
.slider-nav .slider-nav__progressbar > span {
  background-color: #323439;
}
.slider-nav__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-nav__arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
}
.slider-nav__arrow.prev {
  margin-right: 1rem;
}
.slider-nav__arrow-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slider-nav__arrow-bg path {
  stroke: #323439;
  fill: none;
}
.slider-nav__arrow-icon {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
}
.slider-nav__arrow-icon path {
  stroke: #323439;
}
.slider-nav__pagination {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.9rem;
  opacity: 0.5;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}
.btn--white {
  color: white;
}
.btn--white .btn__bg path {
  fill: white;
}
.btn--white .btn__arrow path {
  fill: #323439;
}
.btn__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12.9rem;
  height: 12.9rem;
  margin-right: 3rem;
}
.btn__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.btn__bg path {
  fill: #323439;
}
.btn__arrow {
  position: relative;
  width: 2.1rem;
  height: 2.1rem;
}
.btn__arrow path {
  fill: white;
}

@media (max-width: 48em) {
  .slider-nav__arrow {
    width: 8rem;
    height: 8rem;
  }
  .slider-nav__arrow.prev {
    margin-right: 2rem;
  }
  .slider-nav__arrow-icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .slider-nav__pagination {
    font-size: 4rem;
    line-height: 4.6rem;
  }

  .btn {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .btn__icon {
    width: 20rem;
    height: 20rem;
    margin-right: 4rem;
  }
  .btn__arrow {
    width: 3.6rem;
    height: 3.6rem;
  }
}
.header {
  padding: 2.5rem 0;
}
.header--white {
  color: white;
}
.header--white .header__btn {
  border: 1px solid #FFFFFF;
}
.header--white .header__btn:hover {
  color: #c7c7c7;
}
.header--white .header__menu-item:hover {
  color: #c7c7c7;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: block;
  width: 31.1rem;
  height: 3.6rem;
}
.header__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu-item {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.header__menu-item:not(:last-child) {
  margin-right: 2.5rem;
}
.header__menu-item:hover {
  color: #79797a;
}
.header__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.7rem 2.3rem;
  border: 1px solid #323439;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}
.header__btn:hover {
  color: #79797a;
}
@media (max-width: 48em) {
  .header {
    padding: 4rem 0;
  }
  .header--white .header__burger-btn-icon {
    background-color: white;
  }
  .header--white .header__burger-btn-icon:before, .header--white .header__burger-btn-icon:after {
    background-color: white;
  }
  .header--white .header__btn {
    border: 1px solid #323439;
  }
  .header--white .header__btn:hover {
    color: #79797a;
  }
  .header--white .header__menu-item:hover {
    color: #79797a;
  }
  .header__logo {
    width: 43.4rem;
    height: 5rem;
  }
  .header__menu {
    display: block;
  }
  .header__menu-item {
    margin-bottom: 7rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .header__menu-item:not(:last-child) {
    margin-right: 0;
  }
  .header__menu-item:hover {
    color: #79797a;
  }
  .header__btn {
    margin: 0 auto;
    padding: 2.4rem 4rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .header__burger-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 6.4rem;
    height: 4rem;
  }
  .header__burger-btn-icon {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #323439;
  }
  .header__burger-btn-icon:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 50%;
    height: 2px;
    border-radius: 2px;
    background-color: #323439;
  }
  .header__burger-btn-icon:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #323439;
  }
  .header__burger-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 4rem;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: white;
    overflow-y: scroll;
    -webkit-transition: -webkit-transform ease-out 0.5s;
    transition: -webkit-transform ease-out 0.5s;
    transition: transform ease-out 0.5s;
    transition: transform ease-out 0.5s, -webkit-transform ease-out 0.5s;
  }
  .header__burger-menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__burger-close {
    position: absolute;
    right: 4rem;
    top: 4rem;
    width: 5rem;
    height: 5rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger-close:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #323439;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__burger-close:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #323439;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header__burger-content {
    margin-top: 11rem;
    padding: 12rem 0;
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    text-align: center;
    color: #323439;
  }
}
body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 53.5rem;
}
@media (max-width: 48em) {
  body {
    padding-bottom: 222.5rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer__block {
  padding: 6.5rem 0;
  border-top: 2px solid #CCCCCC;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__box {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  margin-right: 5rem;
}
.footer__logo {
  display: block;
  width: 31.1rem;
  height: 3.6rem;
  margin-bottom: 6.5rem;
}
.footer__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__list:not(:last-child) {
  margin-bottom: 6.5rem;
}
.footer__list-item {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer__list-item > a {
  display: block;
}
.footer__list-name {
  margin-bottom: 2.8rem;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.footer__copyright {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social {
  display: block;
  width: 2rem;
  height: 2rem;
}
.footer__social > svg {
  width: 100%;
  height: 100%;
}
.footer__social > svg path {
  fill: #323439;
}
.footer__social:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__social--blue:hover path {
  fill: #2020ff;
  fill-opacity: 1;
}
.footer__social--azure:hover path {
  fill: #008cff;
  fill-opacity: 1;
}
.footer__social--red:hover path {
  fill: #ff0044;
  fill-opacity: 1;
}

@media (max-width: 48em) {
  .footer__block {
    padding: 12rem 0;
  }
  .footer__container {
    display: block;
  }
  .footer__container--bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__box {
    margin-right: 0;
  }
  .footer__box:not(:last-child) {
    margin-bottom: 12rem;
  }
  .footer__logo {
    width: 43.2rem;
    height: 5rem;
    margin-bottom: 0;
  }
  .footer__list:not(:last-child) {
    margin-bottom: 12rem;
  }
  .footer__list-item {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .footer__list-item:not(:last-child) {
    margin-bottom: 3rem;
  }
  .footer__list-name {
    margin-bottom: 5rem;
    font-size: 3.8rem;
    line-height: 4.3rem;
  }
  .footer__copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .footer__socials {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 7rem;
  }
  .footer__social {
    width: 4rem;
    height: 4rem;
  }
  .footer__social:not(:last-child) {
    margin-right: 3rem;
  }
}
.main-intro {
  position: relative;
  height: 88.1rem;
  padding: 5.5rem 0 7rem 0;
  margin-bottom: 18rem;
  color: white;
}
.main-intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.main-intro__nav-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2.6rem;
  margin-bottom: 4.6rem;
}
.main-intro__nav-block > span {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.9rem;
  color: rgba(255, 255, 255, 0.5);
}
.main-intro__slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 76.6rem;
}
.main-intro__slider-nav .slider-nav__pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main-intro__nav-block-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 76.6rem;
}
.main-intro__text {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.main-intro__text--small {
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.main-intro__services {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 3.7rem 0.9rem 2rem;
  border-bottom: 2px solid white;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}
.main-intro__services:hover {
  color: #c7c7c7;
}
.main-intro__services-qty {
  position: absolute;
  right: 1rem;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.main-intro__services-qty:after {
  content: "";
  position: absolute;
  right: -0.6rem;
  bottom: -2px;
  display: block;
  width: 0.8rem;
  height: 1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: white;
}
.main-intro__slider {
  width: 100%;
  height: 100%;
}
.main-intro__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-intro__slide-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 76.6rem;
  height: 100%;
}
.main-intro__slide-title {
  font-size: 7rem;
  line-height: 8.1rem;
  text-transform: uppercase;
}
.main-intro__slide-sub-title {
  width: 47rem;
  margin-bottom: 4.7rem;
  font-size: 3.3rem;
  line-height: 3.8rem;
  text-transform: uppercase;
}
.main-intro__slide-desc {
  width: 28.5rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.main-intro__text-line {
  display: inline-block;
  width: 3rem;
  height: 1px;
  margin-right: 0.6rem;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  background-color: white;
}
.main-intro__video-bg {
  position: absolute;
  left: 0;
  top: -10.5rem;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: calc(100% + 10.5rem);
  overflow: hidden;
}
.main-intro__video-bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}
.main-intro__video-bg > video {
  height: 100%;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media (max-width: 48em) {
  .main-intro {
    height: auto;
    min-height: 161rem;
    padding: 7rem 0 11rem 0;
    margin-bottom: 24rem;
  }
  .main-intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .main-intro__nav-block {
    padding-bottom: 6rem;
    margin-bottom: 7rem;
  }
  .main-intro__slider-nav {
    width: 100%;
  }
  .main-intro__services {
    padding: 0 5.4rem 1.8rem 0;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .main-intro__services-qty {
    right: 2rem;
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .main-intro__services-qty:after {
    right: -1rem;
    width: 1.6rem;
  }
  .main-intro__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    min-height: 122rem;
  }
  .main-intro__slide-box {
    width: 100%;
    height: auto;
  }
  .main-intro__slide-box:first-child {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-bottom: 7rem;
  }
  .main-intro__slide-box:last-child {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .main-intro__slide-title {
    margin-bottom: 9.4rem;
    font-size: 8rem;
    line-height: 9.2rem;
  }
  .main-intro__slide-sub-title {
    width: 100%;
    margin-bottom: 4rem;
    font-size: 4.4rem;
    line-height: 5rem;
  }
  .main-intro__slide-desc {
    width: 100%;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .main-intro__video-bg {
    position: absolute;
    left: 0;
    top: -13rem;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: calc(100% + 13rem);
    overflow: hidden;
  }
  .main-intro__video-bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
  }
  .main-intro__video-bg > video {
    height: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.services {
  margin-top: 30rem;
  margin-bottom: 18rem;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__info-block {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 31rem;
}
.services__number {
  font-size: 7rem;
  line-height: 8.1rem;
  text-transform: uppercase;
  color: #46B974;
}
.services__text {
  width: 21.1rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: rgba(50, 52, 57, 0.5);
}
.services__title {
  font-size: 3.3rem;
  line-height: 3.8rem;
  text-transform: uppercase;
}
.services__nav .slider-nav__pagination {
  margin-bottom: 2.2rem;
}
.services__slider {
  width: 154rem;
  height: 76.1rem;
  padding: 15rem;
  margin: -15rem;
}
.services__slide {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.services__slide:nth-child(3n) .btn__bg path {
  fill: #2089AF;
}
.services__slide:nth-child(3n+1) .btn__bg path {
  fill: #46B974;
}
.services__slide:nth-child(3n+2) .btn__bg path {
  fill: #43C2BB;
}
@media (min-width: 48.01em) {
  .services__slide:hover {
    z-index: 1;
  }
  .services__slide:hover .services__img-box {
    -webkit-transform: translate(-10rem, -12rem) rotate(-10deg);
            transform: translate(-10rem, -12rem) rotate(-10deg);
  }
  .services__slide:hover .services__slide-content {
    -webkit-transform: translate(5rem, -3.4rem) rotate(10deg);
            transform: translate(5rem, -3.4rem) rotate(10deg);
    border: 2px solid #E0E3E6;
    background-color: #E0E3E6;
  }
}
.services__slide.swiper-slide-prev {
  opacity: 0;
}
.services__slide.swiper-slide-next + .services__slide + .services__slide {
  opacity: 0;
}
.services__img-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.services__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 3rem 3rem 5rem 3rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
  transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, background-color 0.5s ease;
  transition: transform 0.5s ease, background-color 0.5s ease, -webkit-transform 0.5s ease;
}
.services__btn {
  margin-bottom: 5rem;
}
.services__btn .btn__icon {
  width: 7.7rem;
  height: 7.7rem;
  margin-right: 0;
}
.services__slide-title {
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.services__slide-desc {
  margin-top: auto;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: rgba(50, 52, 57, 0.5);
}

@media (max-width: 48em) {
  .services {
    margin-top: 0;
    margin-bottom: 24rem;
  }
  .services__content {
    display: block;
  }
  .services__info-block {
    display: block;
    width: 100%;
    margin-bottom: 7rem;
  }
  .services__number {
    font-size: 8rem;
    line-height: 9.2rem;
  }
  .services__text {
    width: 38.6rem;
    opacity: 0.5;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .services__title {
    margin-top: 7rem;
    font-size: 4.4rem;
    line-height: 5rem;
  }
  .services__nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 6rem;
  }
  .services__nav .slider-nav__pagination {
    margin-bottom: 0;
  }
  .services__slider {
    width: calc(100% + 8rem);
    height: auto;
    padding: 0 4rem;
    margin: 0 -4rem 7rem -4rem;
  }
  .services__slide.swiper-slide-prev {
    opacity: 1;
  }
  .services__slide.swiper-slide-next + .services__slide + .services__slide {
    opacity: 1;
  }
  .services__img-box {
    display: none;
  }
  .services__slide-content {
    height: auto;
    min-height: 72.6rem;
    padding: 5rem 5rem 8rem 5rem;
  }
  .services__btn {
    margin-bottom: 7rem;
  }
  .services__btn .btn__icon {
    width: 15.4rem;
    height: 15.4rem;
  }
  .services__btn .btn__arrow {
    width: 4.2rem;
    height: 4.2rem;
  }
  .services__slide-title {
    min-height: 16rem;
    margin-bottom: 4rem;
    font-size: 3.8rem;
    line-height: 4.4rem;
  }
  .services__slide-desc {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
.map-work {
  margin-bottom: 18rem;
  padding: 16.6rem 0 18.1rem 0;
  background-color: #46B974;
  color: white;
}
.map-work--not-margin {
  position: relative;
  z-index: 1;
  margin-bottom: -2px;
}
.map-work__container {
  position: relative;
}
.map-work__title {
  margin-bottom: 4.2rem;
  font-size: 7rem;
  line-height: 8.1rem;
  text-transform: uppercase;
}
.map-work__desc {
  margin-bottom: 7.4rem;
  font-size: 2.5rem;
  line-height: 3.1rem;
  text-transform: uppercase;
}
.map-work__text-box {
  width: 37.4rem;
  margin-bottom: 9rem;
  padding: 2.3rem 3.1rem 1.9rem 3.1rem;
  background-color: #41AA6C;
}
.map-work__text {
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.map-work__text--small {
  margin-bottom: 0.3rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-transform: none;
}
.map-work__img-bg {
  position: absolute;
  right: 0;
  top: 50%;
  width: 130.5rem;
  height: 68.9rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.map-work__img-bg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.map-work__list-item {
  position: absolute;
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.map-work__list-item[city=kaliningrad] {
  left: -0.7rem;
  top: 47.8rem;
}
.map-work__list-item[city=rostov] {
  left: 12.1rem;
  top: 56rem;
}
.map-work__list-item[city=murmansk] {
  left: 30.9rem;
  top: 23.4rem;
}
.map-work__list-item[city=petrozavodsk] {
  left: 31.9rem;
  top: 35.5rem;
}
.map-work__list-item[city=moskva] {
  left: 31.9rem;
  top: 45.8rem;
}
.map-work__list-item[city=samara] {
  left: 39.8rem;
  top: 56.1rem;
}
.map-work__list-item[city=arhangelsk] {
  left: 44.8rem;
  top: 30.3rem;
}
.map-work__list-item[city=perm] {
  left: 48.8rem;
  top: 44rem;
}
.map-work__list-item[city=ufa] {
  left: 62.7rem;
  top: 50.9rem;
}
.map-work__list-item[city=ekaterinburg] {
  left: 68.7rem;
  top: 40.6rem;
}
.map-work__list-item[city=nijnevartovsk] {
  left: 76.6rem;
  top: 30.3rem;
}
.map-work__list-item[city=novosibirsk] {
  left: 78.6rem;
  top: 50.9rem;
}
.map-work__list-item[city=jakutsk] {
  left: 92.5rem;
  top: 26.8rem;
}
.map-work__list-item[city=vladivostok] {
  left: 91.5rem;
  top: 59.5rem;
}
.map-work__list-item[city=sahalinsk] {
  left: 99.4rem;
  top: 49.2rem;
}
.map-work__list-item[city=magadan] {
  left: 106.4rem;
  top: 37.2rem;
}
.map-work__city-icon {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}
.map-work__city-icon:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: white;
}
.map-work__city-icon:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 7.6rem;
  height: 7.6rem;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border-radius: 100%;
  border: 1px solid white;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.map-work__city-icon:hover:after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.map-work__city-icon:hover + .map-work__city-name {
  opacity: 1;
}
.map-work__city-name {
  position: absolute;
  left: 8rem;
  top: 4.5rem;
  opacity: 0;
  font-size: 2.3rem;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: default;
}
.map-work__sub-text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20.6rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
}
.map-work__sub-text-number {
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: white;
}
.map-work__sub-text-number > span {
  font-size: 7rem;
  line-height: 8.1rem;
}

@media (max-width: 48em) {
  .map-work {
    margin-bottom: 24rem;
    padding: 12rem 0;
  }
  .map-work--not-margin {
    position: relative;
    z-index: 1;
    margin-bottom: -2px;
  }
  .map-work__title {
    margin-bottom: 7rem;
    font-size: 8rem;
    line-height: 9.2rem;
  }
  .map-work__desc {
    margin-bottom: 7rem;
    font-size: 3.8rem;
    line-height: 4.4rem;
  }
  .map-work__text-box {
    width: 100%;
    margin-bottom: 7rem;
    padding: 4rem;
  }
  .map-work__text {
    font-size: 3.8rem;
    line-height: 4.4rem;
  }
  .map-work__text--small {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .map-work__img-bg {
    position: static;
    width: calc(100% + 8rem);
    height: 93.2rem;
    margin: -8.4rem -4rem 4rem -4rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    overflow: hidden;
  }
  .map-work__img-bg > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -38rem;
       object-position: -38rem;
  }
  .map-work__list-item {
    position: absolute;
    border-radius: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .map-work__list-item[city=kaliningrad] {
    display: none;
  }
  .map-work__list-item[city=rostov] {
    display: none;
  }
  .map-work__list-item[city=murmansk] {
    left: 3.8rem;
    top: 32.8rem;
  }
  .map-work__list-item[city=petrozavodsk] {
    left: 5.2rem;
    top: 49rem;
  }
  .map-work__list-item[city=moskva] {
    left: 5.2rem;
    top: 63rem;
  }
  .map-work__list-item[city=samara] {
    left: 16rem;
    top: 77rem;
  }
  .map-work__list-item[city=arhangelsk] {
    left: 22.8rem;
    top: 42rem;
  }
  .map-work__list-item[city=perm] {
    left: 28rem;
    top: 60.6rem;
  }
  .map-work__list-item[city=ufa] {
    left: 46.7rem;
    top: 69.9rem;
  }
  .map-work__list-item[city=ekaterinburg] {
    left: 55rem;
    top: 56rem;
  }
  .map-work__list-item[city=nijnevartovsk] {
    left: 65.6rem;
    top: 42rem;
  }
  .map-work__list-item[city=novosibirsk] {
    left: 68.4rem;
    top: 70rem;
  }
  .map-work__list-item[city=jakutsk] {
    display: none;
  }
  .map-work__list-item[city=vladivostok] {
    display: none;
  }
  .map-work__list-item[city=sahalinsk] {
    display: none;
  }
  .map-work__list-item[city=magadan] {
    display: none;
  }
  .map-work__city-icon:before {
    width: 1.6rem;
    height: 1.6rem;
  }
  .map-work__sub-text {
    position: static;
    width: 41.2rem;
    margin-left: auto;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .map-work__sub-text-number {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .map-work__sub-text-number > span {
    font-size: 8rem;
    line-height: 9.2rem;
  }
}
.objects {
  margin-bottom: 18rem;
}
.objects__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8rem;
}
.objects__title {
  font-size: 7rem;
  line-height: 8.1rem;
  text-transform: uppercase;
}
.objects__desc {
  width: 59rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: right;
  text-transform: uppercase;
}
.objects__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.objects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.objects__item:nth-child(3n+1) {
  margin-right: 5.2rem;
}
.objects__item:nth-child(3n+1) .objects__img-box:before {
  background-color: #46B974;
}
.objects__item:nth-child(3n+2) .objects__img-box:before {
  background-color: #43C2BB;
}
.objects__item:nth-child(3n) {
  margin-left: auto;
}
.objects__item:nth-child(3n) .objects__img-box:before {
  background-color: #2089AF;
}
.objects__item:nth-child(n+4) {
  margin-top: 6rem;
}
.objects__item-number {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 3.8rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: rgba(50, 52, 57, 0.5);
}
.objects__item-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 44.6rem;
  height: auto;
  min-height: 50.4rem;
  padding: 3.8rem 0 7rem 0;
  background-color: #E0E3E5;
  text-align: center;
  overflow: hidden;
}
.objects__item-title {
  width: 30rem;
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.objects__img-box {
  position: relative;
  width: 26.3rem;
  height: 26.3rem;
  border-radius: 100%;
}
.objects__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.objects__img-box:before {
  content: "";
  position: absolute;
  right: 4.5rem;
  top: 2.2rem;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.5rem 0 0.5rem 0;
}
.objects__img-text {
  position: absolute;
  left: 22.5rem;
  top: 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: left;
}
.objects__img-text--number {
  font-size: 3.3rem;
}
.objects__sub-text {
  position: absolute;
  left: 50%;
  bottom: -2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 5.5rem;
  line-height: 6.3rem;
  text-transform: uppercase;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 48em) {
  .objects {
    margin-bottom: 24rem;
  }
  .objects__title-box {
    display: block;
  }
  .objects__title {
    margin-bottom: 7rem;
    font-size: 8rem;
    line-height: 9.2rem;
  }
  .objects__desc {
    width: 100%;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: left;
  }
  .objects__cards {
    display: block;
  }
  .objects__item:nth-child(3n+1) {
    margin-right: 0;
  }
  .objects__item:nth-child(3n) {
    margin-left: 0;
  }
  .objects__item:nth-child(n+2) {
    margin-top: 5rem;
  }
  .objects__item-number {
    margin-right: 3rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .objects__item-content {
    width: 100%;
    height: auto;
    min-height: 63.6rem;
    padding: 5rem 0 7rem 0;
  }
  .objects__item-title {
    width: 75%;
    font-size: 3.8rem;
    line-height: 4.4rem;
  }
  .objects__img-box {
    width: 33.2rem;
    height: 33.2rem;
  }
  .objects__img-box:before {
    right: 7rem;
    top: 1.8rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.6rem 0 0.6rem 0;
  }
  .objects__img-text {
    left: 27rem;
    top: 3rem;
    font-size: 3rem;
  }
  .objects__img-text--number {
    font-size: 4.4rem;
  }
  .objects__sub-text {
    font-size: 7rem;
    line-height: 8rem;
  }
}
.contacts {
  position: relative;
  margin-bottom: 18rem;
  padding-top: 29rem;
}
.contacts__map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.contacts__map .ymaps-2-1-79-ground-pane {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.contacts__info-block {
  position: relative;
  width: 92rem;
  padding: 1.2rem 0 1rem 15.5rem;
  background-color: white;
}
.contacts__info-block:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 84rem;
  height: 8rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: white;
}
.contacts__info-block:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border-width: 4rem;
  border-color: transparent transparent white white;
  border-style: solid;
}
.contacts__title {
  margin-bottom: 11.7rem;
  font-size: 7rem;
  line-height: 8.1rem;
  text-transform: uppercase;
}
.contacts__box {
  margin-bottom: 9rem;
}
.contacts__box-title {
  margin-bottom: 2.8rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: #46B974;
}
.contacts__box-text {
  width: 40.7rem;
  font-size: 2.3rem;
  line-height: 2.7rem;
  text-transform: uppercase;
}
.contacts__box-text > a, .contacts__box-text span {
  display: block;
  margin-bottom: 0.4rem;
}
.contacts__socials {
  position: absolute;
  right: -4rem;
  bottom: 30rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(27, 30, 31, 0.5);
}
.contacts__socials-separate {
  margin: 0 3rem;
}
.contacts__social-link:hover {
  color: #c7c7c7;
}
.contacts__logo {
  display: block;
  width: 31.1rem;
  height: 3.6rem;
}
.contacts__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 48em) {
  .contacts {
    position: relative;
    margin-bottom: 24rem;
    padding-top: 96rem;
  }
  .contacts__info-block {
    position: relative;
    width: 65rem;
    padding: 2rem 4rem 0 4rem;
  }
  .contacts__info-block:before {
    width: 55rem;
    height: 10rem;
  }
  .contacts__info-block:after {
    border-width: 5rem;
  }
  .contacts__title {
    margin-bottom: 10rem;
    font-size: 8rem;
    line-height: 9.2rem;
  }
  .contacts__box {
    margin-bottom: 7rem;
  }
  .contacts__box-title {
    margin-bottom: 4rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .contacts__box-text {
    width: 100%;
    font-size: 3.8rem;
    line-height: 5.4rem;
  }
  .contacts__socials {
    position: static;
    margin-bottom: 10rem;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .contacts__socials-separate {
    margin: 0 5rem;
  }
  .contacts__logo {
    width: 43.2rem;
    height: 5rem;
  }
}
.about {
  margin-bottom: 18rem;
}
.about__title {
  width: 134rem;
  margin-bottom: 5.4rem;
  font-size: 7rem;
  line-height: 8.1rem;
  text-transform: uppercase;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 7rem;
  border-top: 2px solid #CCCCCC;
}
.about__image-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50.1rem;
}
.about__img-box {
  width: 100%;
  height: 42.3rem;
  margin-bottom: 2.3rem;
}
.about__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__img-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(27, 30, 31, 0.5);
}
.about__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 105.7rem;
}
.about__text-box {
  width: 50.1rem;
  font-size: 2.3rem;
  line-height: 3rem;
}

@media (max-width: 48em) {
  .about {
    margin-bottom: 24rem;
  }
  .about__title {
    width: 100%;
    margin-bottom: 7rem;
    font-size: 8rem;
    line-height: 9.2rem;
  }
  .about__content {
    display: block;
    border-top: 2px solid #CCCCCC;
  }
  .about__image-block {
    width: 100%;
    margin-bottom: 7rem;
  }
  .about__img-box {
    width: 100%;
    height: 56.6rem;
    margin-bottom: 3rem;
  }
  .about__img-text-box {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .about__text-block {
    display: block;
    width: 100%;
  }
  .about__text-box {
    width: 100%;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .about__text-box:not(:last-child) {
    margin-bottom: 3.5rem;
  }
}
.request {
  margin-bottom: 18rem;
}
.request__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.request__text-box {
  width: 40rem;
}
.request__title {
  margin-bottom: 5.4rem;
  font-size: 7rem;
  line-height: 8.1rem;
  text-transform: uppercase;
}
.request__desc {
  width: 36.4rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.request__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 105.4rem;
}
.request__form > *:nth-child(n+3) {
  margin-top: 4rem;
}
.request__label {
  position: relative;
  display: block;
  width: 50.2rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #CCCCCC;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.request__label--textarea {
  height: 22.2rem;
  padding: 1.5rem;
  border: 2px solid #CCCCCC;
}
.request__input {
  width: 100%;
  height: 100%;
  resize: none;
}
.request__select {
  width: 100%;
  height: 100%;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  font-family: "Helvetica";
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  cursor: pointer;
}
.request__select-arrow {
  position: absolute;
  right: 0;
  top: 15%;
  width: 1.2rem;
  height: 1.2rem;
}
.request__select-arrow path {
  stroke: #323439;
}

@media (max-width: 48em) {
  .request {
    margin-bottom: 24rem;
  }
  .request__container {
    display: block;
  }
  .request__text-box {
    width: 100%;
    margin-bottom: 7rem;
  }
  .request__title {
    margin-bottom: 7rem;
    font-size: 8rem;
    line-height: 9.2rem;
  }
  .request__desc {
    width: 100%;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .request__form {
    display: block;
    width: 100%;
  }
  .request__form > *:nth-child(n+2) {
    margin-top: 5rem;
  }
  .request__label {
    width: 100%;
    padding-bottom: 3rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .request__label--textarea {
    height: 37.2rem;
    padding: 3rem;
  }
  .request__select {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .request__select-arrow {
    width: 2.4rem;
    height: 2.4rem;
  }
  .request .btn {
    margin-top: 7rem;
  }
}
.service-intro {
  margin-bottom: 18rem;
  margin-top: 6.5rem;
}
.service-intro__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}
.service-intro__title {
  width: 70rem;
  font-size: 7rem;
  line-height: 8.1rem;
  text-transform: uppercase;
}
.service-intro__title-text-box {
  width: 77.8rem;
}
.service-intro__sub-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}
.service-intro__sub-title {
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.service-intro__sub-title-text {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.service-intro__desc {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: rgba(50, 52, 57, 0.5);
}
.service-intro__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 64.7rem;
}
.service-intro__img-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.service-intro__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-intro__img-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(50, 52, 57, 0.2);
}
.service-intro__item {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  color: white;
}
.service-intro__item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.service-intro__item:nth-child(odd) {
  color: #323439;
}
.service-intro__item:nth-child(odd) .service-intro__item-content {
  background-color: white;
}
.service-intro__item-content {
  padding: 3rem 3.5rem;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.service-intro__item-desc {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.service-intro__item-title {
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}

@media (max-width: 48em) {
  .service-intro {
    margin-bottom: 24rem;
    margin-top: 7rem;
  }
  .service-intro__title-box {
    display: block;
    margin-bottom: 7rem;
  }
  .service-intro__title {
    width: 100%;
    margin-bottom: 7rem;
    font-size: 8rem;
    line-height: 9.2rem;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
  .service-intro__title-text-box {
    width: 100%;
  }
  .service-intro__sub-title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    margin-bottom: 5rem;
  }
  .service-intro__sub-title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 3.8rem;
    line-height: 4.4rem;
  }
  .service-intro__sub-title-text {
    margin-bottom: 4rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .service-intro__desc {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .service-intro__content {
    display: block;
    width: calc(100% + 8rem);
    height: auto;
    padding: 22rem 0;
    margin: 0 -4rem;
  }
  .service-intro__item {
    display: block;
  }
  .service-intro__item:not(:last-child) {
    border-right: none;
  }
  .service-intro__item-content {
    padding: 6rem 4rem;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .service-intro__item-desc {
    width: 56rem;
    margin-bottom: 3rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .service-intro__item-title {
    font-size: 3.8rem;
    line-height: 4.4rem;
  }
}
.advantages {
  margin-bottom: 18rem;
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__vertical-box {
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.advantages__vertical-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: rgba(50, 52, 57, 0.5);
  white-space: nowrap;
}
.advantages__vertical-text:not(:last-child) {
  margin-right: 9rem;
}
.advantages__text-block {
  width: 64rem;
}
.advantages__sub-title {
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.advantages__title {
  margin-bottom: 4.7rem;
  font-size: 7rem;
  line-height: 8.1rem;
  text-transform: uppercase;
}
.advantages__info-box {
  position: relative;
  padding-left: 6.2rem;
  margin-bottom: 5.4rem;
}
.advantages__info-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.6rem;
  display: block;
  width: 4.2rem;
  height: 0.5rem;
  background-color: #46B974;
}
.advantages__info-title {
  margin-bottom: 2.8rem;
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.advantages__info-desc {
  width: 35rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: rgba(50, 52, 57, 0.5);
}
.advantages__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem 2.3rem;
  border: 1px solid #323439;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}
.advantages__cards {
  width: 72.6rem;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 21.2rem;
}
.advantages__item:nth-child(odd) .advantages__item-img-box {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.advantages__item-img-box {
  width: 50%;
  height: 100%;
}
.advantages__item-img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages__item-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 0 4rem;
}
.advantages__item-title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.8rem;
}
.advantages__item-title {
  margin-right: 3rem;
  font-size: 2.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.advantages__item-number {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  font-size: 3.3rem;
  line-height: 2.9rem;
}
.advantages__item-desc {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: rgba(50, 52, 57, 0.5);
}

@media (max-width: 48em) {
  .advantages {
    margin-bottom: 24rem;
  }
  .advantages__container {
    display: block;
  }
  .advantages__text-block {
    width: 100%;
    margin-bottom: 12rem;
  }
  .advantages__sub-title {
    margin-bottom: 4rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .advantages__title {
    margin-bottom: 7rem;
    font-size: 8rem;
    line-height: 9.2rem;
  }
  .advantages__info-box {
    padding-left: 11.4rem;
    margin-bottom: 7rem;
  }
  .advantages__info-box:before {
    top: 2.2rem;
    width: 8.4rem;
    height: 0.8rem;
  }
  .advantages__info-title {
    margin-bottom: 4rem;
    font-size: 3.8rem;
    line-height: 4.4rem;
  }
  .advantages__info-desc {
    width: 100%;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .advantages__btn {
    padding: 2.4rem 4rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .advantages__cards {
    width: 100%;
  }
  .advantages__item {
    display: block;
    height: auto;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 5rem;
  }
  .advantages__item-img-box {
    width: 100%;
    height: 31.8rem;
    margin-bottom: 5rem;
  }
  .advantages__item-text-box {
    display: block;
    width: 100%;
    padding: 0;
  }
  .advantages__item-title-box {
    margin-bottom: 4rem;
  }
  .advantages__item-title {
    margin-right: 6rem;
    font-size: 3.8rem;
    line-height: 4.4rem;
  }
  .advantages__item-number {
    font-size: 4.4rem;
    line-height: 4.4rem;
  }
  .advantages__item-desc {
    width: 55.2rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}