@import "param";

.advantages {
  margin-bottom: 18rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__vertical-box {
    width: 2rem;
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
  }

  &__vertical-text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: rgba(50, 52, 57, 0.5);
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 9rem;
    }
  }

  &__text-block {
    width: 64rem;
  }

  &__sub-title {
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  &__title {
    margin-bottom: 4.7rem;
    font-size: 7rem;
    line-height: 8.1rem;
    text-transform: uppercase;
  }

  &__info-box {
    position: relative;
    padding-left: 6.2rem;
    margin-bottom: 5.4rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 1.6rem;
      display: block;
      width: 4.2rem;
      height: 0.5rem;
      background-color: $green;
    }
  }

  &__info-title {
    margin-bottom: 2.8rem;
    font-size: 2.5rem;
    line-height: 2.9rem;
    text-transform: uppercase;
  }

  &__info-desc {
    width: 35rem;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: rgba(50, 52, 57, 0.5);
  }

  &__btn {
    display: block;
    width: fit-content;
    padding: 1.5rem 2.3rem;
    border: 1px solid #323439;
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  &__cards {
    width: 72.6rem;
  }

  &__item {
    display: flex;
    height: 21.2rem;

    &:nth-child(odd) {
      .advantages__item-img-box {
        order: 2;
      }
    }
  }

  &__item-img-box {
    width: 50%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 4rem;
  }

  &__item-title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.8rem;
  }

  &__item-title {
    margin-right: 3rem;
    font-size: 2.5rem;
    line-height: 2.9rem;
    text-transform: uppercase;
  }

  &__item-number {
    transform: translateY(-2px);
    font-size: 3.3rem;
    line-height: 2.9rem;
  }

  &__item-desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: rgba(50, 52, 57, 0.5);
  }
}

@media (max-width: 48em) {
  .advantages {
    margin-bottom: 24rem;

    &__container {
      display: block;
    }

    &__vertical-box {
    }

    &__vertical-text {
    }

    &__text-block {
      width: 100%;
      margin-bottom: 12rem;
    }

    &__sub-title {
      margin-bottom: 4rem;
      font-size: 3rem;
      line-height: 3.5rem;
    }

    &__title {
      margin-bottom: 7rem;
      font-size: 8rem;
      line-height: 9.2rem;
    }

    &__info-box {
      padding-left: 11.4rem;
      margin-bottom: 7rem;

      &:before {
        top: 2.2rem;
        width: 8.4rem;
        height: 0.8rem;
      }
    }

    &__info-title {
      margin-bottom: 4rem;
      font-size: 3.8rem;
      line-height: 4.4rem;
    }

    &__info-desc {
      width: 100%;
      font-size: 3rem;
      line-height: 3.5rem;
    }

    &__btn {
      padding: 2.4rem 4rem;
      font-size: 3rem;
      line-height: 3.5rem;
    }

    &__cards {
      width: 100%;
    }

    &__item {
      display: block;
      height: auto;

      &:not(:last-child) {
        margin-bottom: 5rem;
      }
    }

    &__item-img-box {
      width: 100%;
      height: 31.8rem;
      margin-bottom: 5rem;
    }

    &__item-text-box {
      display: block;
      width: 100%;
      padding: 0;
    }

    &__item-title-box {
      margin-bottom: 4rem;
    }

    &__item-title {
      margin-right: 6rem;
      font-size: 3.8rem;
      line-height: 4.4rem;
    }

    &__item-number {
      font-size: 4.4rem;
      line-height: 4.4rem;
    }

    &__item-desc {
      width: 55.2rem;
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }
}