@import "param";

.slider-nav {
  &--white {
    .slider-nav__arrow-bg path {
      stroke: white;
      fill: white;
    }

    .swiper-button-disabled .slider-nav__arrow-bg path {
      fill: none;
    }

    .swiper-button-disabled .slider-nav__arrow-icon path {
      stroke: white;
    }

    .slider-nav__pagination {
      color: white;
    }

    div.slider-nav__progressbar {
      background-color: rgba(255, 255, 255, 0.4);

      > span {
        background-color: white;
      }
    }
  }

  .slider-nav__progressbar {
    position: absolute;
    left: 0;
    bottom: 0;
    top: auto;
    right: auto;
    height: 2px;
    background-color: rgba(50, 52, 57, 0.4);

    > span {
      background-color: $dark;
    }
  }

  &__arrows {
    display: flex;
  }

  &__arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;

    &.prev {
      margin-right: 1rem;
    }
  }

  &__arrow-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    path {
      stroke: $dark;
      fill: none;
    }
  }

  &__arrow-icon {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;

    path {
      stroke: $dark;
    }
  }

  &__pagination {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 2.9rem;
    opacity: 0.5;
  }
}

.btn {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-transform: uppercase;

  &--white {
    color: white;

    .btn__bg path {
      fill: white;
    }

    .btn__arrow path {
      fill: $dark;
    }
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.9rem;
    height: 12.9rem;
    margin-right: 3rem;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    path {
      fill: $dark;
    }
  }

  &__arrow {
    position: relative;
    width: 2.1rem;
    height: 2.1rem;

    path {
      fill: white;
    }
  }
}

@media (max-width: 48em) {
  .slider-nav {
    &--white {
    }

    &__arrows {
    }

    &__arrow {
      width: 8rem;
      height: 8rem;

      &.prev {
        margin-right: 2rem;
      }
    }

    &__arrow-bg {
    }

    &__arrow-icon {
      width: 2.4rem;
      height: 2.4rem;
    }

    &__pagination {
      font-size: 4rem;
      line-height: 4.6rem;
    }
  }

  .btn {
    font-size: 3rem;
    line-height: 3.5rem;

    &--white {
    }

    &__icon {
      width: 20rem;
      height: 20rem;
      margin-right: 4rem;
    }

    &__bg {
    }

    &__arrow {
      width: 3.6rem;
      height: 3.6rem;
    }
  }
}